body {
    height: 100vh;
    width: 100%;
    background-color: $background-color-body;
}

.container {
    width: 90%;
    margin: 2rem auto 0;
    display: grid;
    background-color: $color-white;
    grid-template-areas:
        "header header header header"
        "shop-list shop-list shop-list shop-list"
        "footer footer footer footer";
    grid-template-rows: min-content minmax(20rem, auto) min-content;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}