.btn {
    background-color: transparent;
    font-family: 'Lato-Bold';
    text-align: center;
    text-transform: uppercase;
    align-items: center;
    outline: none;
    border: 0;
    cursor: pointer;
    font-size: 1.4rem;
    overflow: hidden;

    background-color: $color-black;
    color: $color-white;
    padding: .5rem 1rem;

    &:focus {
        outline: none;
    }

    &--search {}

    &--products {}

    &--list {}

    &--week {}

}