.product {

    &__list {
        margin: 2rem 0;
    }

    &__item {
        display: flex;

        &-ingredients {
            position: relative;
            display: flex;
            font-size: 2rem;

            &>*:not(:last-child) {
                margin-right: 1rem;
            }
        }

        &-count {}

        &-ingredient {}

        &-unit {}

        &-name {}

        &__line {
            display: none;
        }

        &-line--active {
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            margin-right: 0 auto;
            transform: translateY(-50%);
            width: 95%;
            height: 2px;
            background-color: black;
            z-index: 1;
        }


        .product-edit {
            display: block;
        }
    }
}