.main {
    grid-area: shop-list;

    .creation-section {
        &__warning {
            margin-bottom: 2rem;
            font-size: 1.5rem;
        }
    }

    .product-section {}

    .category-section {}

    .week-section {}
}